<h1>Your Outfit</h1>

<h2><%=@outfit.name.capitalize%></h2>
<p> <b>Top</b>: <%= @outfit.tops.capitalize%> </p>
<p> <b>Bottoms</b>: <%= @outfit.bottoms.capitalize%>
<br></p>

<a href="/outfits/<%=@outfit.id%>/edit">Edit Outfit</a>
<a href="/outfits">Back to Outfits</a>

<form action="/outfits/<%=@outfit.id%>/delete" method="POST">
<input id="hidden" type="hidden" name="_method" value="delete">
<br>
<input type="submit" value="Delete Outfit">
</form>